* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    max-width: 600px;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;
}


.button {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.button.active {
    background: none;
    color: #ff4444;
}
.button:hover {
    transform: scale(1.1);
}
.tab-content {
    flex: 1;
    overflow: hidden;
}

.tab-pane {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.cat-card {
    flex-grow: 1;
    /* Ensures it takes all the remaining space within the container */
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    /* Allows the content inside to scroll if it overflows */
}

.layout {
    display: none;
}

.layout.active {
    display: block;
}

.search-container {
    padding: 15px;
    position: relative;
    flex-shrink: 0;
}

.search-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    background: #f8f8f8;
}

.search-input:focus {
    outline: none;
    border-color: #ff4444;
    background: #fff;
}

.image-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    padding: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures images fit their container */
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.vote-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.vote-buttons .button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}




/* Smooth fade effect */
.fade-out {
    opacity: 0;
}


/* Dropdown container */
.dropdown {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.dropdown-container {
    position: relative;
    width: 100%;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    /* Hidden by default */
    z-index: 100;
}

.dropdown-list li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-list li:hover,
.dropdown-list li.selected {
    background-color: #f0f0f0;
}

/* Breed information styles */
.breed-info {
    padding: 15px;
}

#breedList {
    position: absolute;
    z-index: 10;
    top: 100%;
    /* Aligns directly below the search bar */
    left: 0;
    width: 100%;
    /* Matches the width of the search bar's container */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    max-height: 200px;
    /* Limit dropdown height */
    overflow-y: auto;
    /* Scrollable if the list exceeds max-height */
    display: none;
    /* Hidden by default */
}

.breed-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.breed-item:hover {
    background-color: #f7f7f7;
}

/* Ensure the container doesn't expand */
#breedSearchContainer {
    position: relative;
}



.breed-image-container {
    position: relative;
    width: 50%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breed-image {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
}

.breed-image.active {
    display: block;
    opacity: 1;
}

/* Slider Wrapper */
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.breed-image.slide-transition {
    animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slider-indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
}

.slider-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.slider-indicator.active {
    background: #666;
}

.slide-transition {
    transition: transform 0.3s ease-in-out;
}

.breed-title {
    font-size: 24px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.breed-origin {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

.breed-description {
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 14px;
}

.wiki-link {
    color: #ff4444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}



/* Favorite Images */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    max-height: calc(100% - 40px);
    /* Ensures space for layout controls */
    overflow-y: auto;
    /* Enables scrolling for grid images */
    padding: 5px;
    /* Adds padding for the scrollbar */
}

/* Grid Layout - 3 columns 
.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
}*/


.grid-layout .favorite-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.layout-controls {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.layout-btn {
    padding: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}

.layout-btn svg {
    fill: #333;
}

.layout-btn.active svg {
    fill: #fa9759;
}


/* List Layout - Full width single images */
.list-layout {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    /* Enables scrolling for list images */
}


.list-layout .favorite-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
   
}

/* Favorite Images Styling */
.favorite-image {
    border-radius: 4px;
    background-color: #f8f8f8;
}

/* Container with vertical scroll */

/* Favorite Images Section */
#favoriteImagesContainer {
   
    flex-grow: 1;
    /* Takes up remaining space in .container */
    max-height: calc(100vh - 250px);
    /* Ensures it fits within the container */

    overflow-y: auto;
    /* Enables scrolling for vertical overflow */
    overflow-x: hidden;
    /* Prevents horizontal overflow */
    padding-right: 5px;
    /* Compensates for scrollbar */
    margin-top: 20px;
    /* Adds spacing from other elements */
    box-sizing: border-box;
    /* Includes padding in the height */
}

/* Custom scrollbar */
#favoriteImagesContainer::-webkit-scrollbar {
    width: 6px;
}

#favoriteImagesContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
}

#favoriteImagesContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}